<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.suavepirate.fabexample" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="SuaveControls.FabExample.Android"></application>
</manifest>